.feedpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

/* .new-post-container {
    display: flex;
    justify-content: center;
} */

.feedpage-posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

