.user-page-container {
    margin: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.user-container{
    min-width: 250px;
}

.user-page-left {
    display: flex;
    flex-direction: column;
}

.user-page-middle {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-color: black;
}

.notifications-container {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notifications-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);

}

.friends-container {
    display: flex;
    flex-direction: column;
    border: none;
    min-width: 250px;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 5px;

}

.friends-header {
    display: flex;
    font-weight: bold;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
    justify-content: center;
}



.user-container {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 5px
}

.posts {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 5px;
}

.posts-header {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: white;
    min-width: 500px;
    margin-right: 10px;
    margin-bottom: 5px;

}