.profile-image-container {
    display: flex;
    justify-content: center;
}

.profile-image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
}


.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.user-bio {
    width: 100%;
}

.user-email {
    width: 100%;
}

.user-name {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.friend-button-container {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}


.friend-button {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    width: 200px;
    background-color: #e74d3cea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}




