@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.new-post-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px;
    padding: 10px;
    width: 55%;
}

.text-area-container {
    position: relative;
    display: block;
    padding: 10px;
    margin-left: 20px;
    border-bottom:1px black;
}

.new-post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.224);
    padding-top: 5px;
}


.new-post-text-area {
    width: auto;
    border-radius: 5px;
    border: none;
    height: 60px;
    resize: none;
    padding: 10px;
    box-sizing: content-box;  
    overflow: hidden;
    padding-left: 50px;
}

.new-post-text-area::placeholder {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
}


.circle {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
    object-fit: cover;
}

.circle img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


.image-button-container {
    display: flex;

}


.post-button-container{
    display: flex;
    justify-content: center;
    padding: 5px;

}

.post-button {
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    width: 100px;
    background-color: #e74d3cea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e74d3cea;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    height: 15px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    padding-right: 10px;
}

.custom-file-upload i{
    padding-right: 5px;
    padding-left: 5px;
}



