@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

.new-post-container {
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px;
    padding: 10px;
    width: 55%;
}

.text-area-container{
    padding: 10px;

}

.new-post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.new-post-text-area {
    border-radius: 10px;
    resize: none;
    padding: 10px;
    box-sizing: content-box;  
}

/* .image-button-container {
    padding: 5px;
} */

/* .image-button-container button{
    /* height: 25px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e74d3cea;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px; */
 */

.image-button-container button i{
    padding: 5px;
}

.image-button-container button p{
    color: white
}

.post-button-container{
    display: flex;
    justify-content: center;
    padding: 5px;

}

.post-button {
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    width: 100px;
    background-color: #e74d3cea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e74d3cea;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    height: 15px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.custom-file-upload i {
    padding: 5px
}