@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';



.search-user-input {
    background-color: transparent;
    font-size: large;
    border: none;
    color: #ecf0f1de;
}

.search-user-input:focus {
    outline: none
}