.signup-page-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust the height as needed */
    padding-top: 100px;
}

.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: fit-content;
    padding: 40px 20px 40px 20px;
    border-radius: 5px;
}

.signup-username-input {
    padding: 10px;

}

.signup-username-input input{
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: #eaeaea00;
    border: solid 1px rgb(179, 179, 179);
    font-size: 18px;
}

.signup-email-input {
    padding: 10px;
    
}

.signup-email-input input{
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: #eaeaea00;
    border: solid 1px rgb(179, 179, 179);
    font-size: 18px;
}

.signup-password-input {
    padding: 10px;
}

.signup-password-input input{
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    background-color: #eaeaea00;
    border: solid 1px rgb(179, 179, 179);
    font-size: 18px;
}



.signup-button-container {
    padding: 10px;
    display: flex;
    justify-content: center;

}

.signup-button-container #submit{
    height: 34px;
    width: 200px;
    background-color: #e74d3cea;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}