

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homepage-logo {
  font-weight:1000;
  font-size: 30px;
  letter-spacing: 1.5px;
  color: black;
  padding-top: 40px;
  padding-bottom: 30px;
}

.homepage-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: fit-content;
    padding: 0px 60px 0px 60px;
    border-radius: 5px;
}


.homepage-signup-button-container {
  padding: 10px;

}

.homepage-signup-button-container button{
  height: 34px;
  width: 200px;
  background-color: #e74d3cea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.homepage-login-button-container{
  padding: 10px
}

.homepage-login-button-container button{
  height: 34px;
  width: 200px;
  background-color: #e74d3cea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;

}

.homepage-about-button-container{
  padding: 10px
}

.homepage-about-button-container button{
  height: 34px;
  width: 200px;
  background-color: #e74d3cea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;

}

.homepage-about {
  width: 350px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}