body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 8px;
    margin: 10px;
    font-size: 18px;
    background-color: #e74d3cea;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-content .content-header {
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.modal-content .header {
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.header{
    display: flex;
    justify-content: center;
}
.user-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.image-container img{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.bio {
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}

.edit-button-container {
    padding: 5px
}

.edit-button {
    color: white;
    background-color: #e74d3cea;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}



.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: #e74d3cea;
    border-radius: 5px;
    border: none;
    color: white;
}

.profile-picture img{
    max-height: 100px;
    min-height: 100px;
    border-radius: 50%;
}

